@CHARSET "ISO-8859-1";
body {
/*	background-color: #2F2F2F; */
	background-color: #aFaFaF;
	padding: 0px;
	margin: 0px;
	font-family: Verdana;
}

#content {
	color: #FFF;
	background-color: #000;
	width: 920px;
	margin: 0px;
	padding:20px;
}

#content > div {
	width: 100%;
	border-bottom: 1px dotted white;
}

#content > div > h2 {
	font-size: large;
	margin: 0px;
}

#content > div > h1 {
	font-size: x-large;
	margin: 0px;
}

#install {
	width: 100px;
	background-color: #00B22C;
	border: 1px white;
	margin: 10px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

a {
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
}

#header {
	background-image:url(/images/mobgen_logo.png) 50%;
	background-repeat:no-repeat;
	background-position:right top;
	height: 156px;
	width:100%;
	text-align: right;
	border:solid 1px yellow;
}

#udids {
	font-size: x-small;
}
table{width:90%;}
th{text-align:left;}

.contmain {
	padding: 10px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
/*	border:solid 1px red; */
}
	
.buildinfo {
/*	padding-left:auto;
	padding-right:auto;
	text-align: center; */
	width: 100%;
}

#logoimg {
	float: right;
	width: 20%;
	padding:0;
	marging:0;
}
