<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Redevco OTAShare</title>
<link type="text/css" rel="stylesheet" href="/web/templates/redevco/css/style.css" />
<link rel="stylesheet" media="all and (orientation:portrait)" href="/web/templates/redevco/css/portrait.css">
<meta name="viewport" content = "width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
</head>
<body>
<div id="container">
<div id="background"></div>
	<img src="/web/templates/redevco/img/redevco_logo.png" id="logo" />
	<img src="/web/templates/redevco/img/iPad3.png" id="ipad" />
	<div id="installBox">
		<div id="install">
			<h1>DOWNLOAD THE REDEVCO APP</h1>
			<a href="{{$url}}">PRESS TO INSTALL</a>
		</div>
	</div>
</div>
</body>
</html>
